flows_MasterController.json
[{"id":"eee3c0c3.7c7bd","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"38894af.7ca61b6","type":"tab","label":"Safety/Security","disabled":false,"info":""},{"id":"2061740e.e5207c","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"18b0a622.24052a","type":"subflow","name":"Push Notification - Matt","info":"Example payload:\n\n{\n    \"data\": {\n        \"title\": \"Title\",\n        \"message\": \"Message\"\n    }\n}","in":[{"x":60,"y":200,"wires":[{"id":"1e418c07.fc1e94"}]}],"out":[]},{"id":"a17c62c.d80c1a","type":"subflow","name":"Push Notification Alydia","info":"","in":[{"x":140,"y":200,"wires":[{"id":"f404a765.0d2d18"}]}],"out":[]},{"id":"144427d5.6c9f18","type":"server","z":"","name":"Home Assistant","url":"http://192.168.1.180:8123","pass":"autom@t10n"},{"id":"210f3ca0.f0ec14","type":"schedex","z":"eee3c0c3.7c7bd","name":"Porch Light Trigger","suspended":false,"lat":"35.67","lon":"-88.82","ontime":"dusk","ontopic":"","onpayload":"turn_on","onoffset":"-20","onrandomoffset":false,"offtime":"22:00","offtopic":"","offpayload":"turn_off","offoffset":"-30","offrandomoffset":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":410,"y":120,"wires":[["8d49cec5.ef4d9"]]},{"id":"b2259c64.157f7","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Porch Lights","server":"144427d5.6c9f18","service_domain":"switch","service":"","data":"{\"entity_id\": \"switch.front_porch_light, switch.side_entry_porch_light, switch.garage_outside_light\"}","mergecontext":"","x":830,"y":120,"wires":[[]]},{"id":"9a045e11.88105","type":"inject","z":"eee3c0c3.7c7bd","name":"All Porch Lights Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["210f3ca0.f0ec14"]]},{"id":"d03c0d74.35482","type":"inject","z":"eee3c0c3.7c7bd","name":"All Porch Lights On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["210f3ca0.f0ec14"]]},{"id":"c7977616.dfcab8","type":"comment","z":"eee3c0c3.7c7bd","name":"Porch Lights @ Dusk","info":"","x":170,"y":60,"wires":[]},{"id":"8d49cec5.ef4d9","type":"function","z":"eee3c0c3.7c7bd","name":"Select Service","func":"// Trigger doesn't support objects on \n// payload so we move the value provided \n// on msg.payload into msg.service property\n// to be used by the porch light service\n\nmsg.payload = {\n    service: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["b2259c64.157f7"]]},{"id":"79f23994.f55e88","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Motion","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","haltifstate":"","x":160,"y":400,"wires":[["eaa62203.5eb83","5ca008f9.ed8408","8b481551.a756a8"]]},{"id":"fde46ed4.d372f","type":"api-current-state","z":"eee3c0c3.7c7bd","name":"Light Off?","server":"144427d5.6c9f18","halt_if":"on","entity_id":"light.kitchen_can_lights","x":760,"y":360,"wires":[["4e25ca96.6ca544"]]},{"id":"4e25ca96.6ca544","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"On","server":"144427d5.6c9f18","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_can_lights\"}","mergecontext":"","x":990,"y":400,"wires":[[]]},{"id":"a7d89183.b3723","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_can_lights\"}","mergecontext":"","x":990,"y":460,"wires":[[]]},{"id":"8417a2fb.440b1","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Switch Flipped On","server":"144427d5.6c9f18","entityidfilter":"light.kitchen_can_lights","entityidfiltertype":"exact","haltifstate":"off","x":190,"y":460,"wires":[["2bb25d6d.4a14a2"]]},{"id":"5ca008f9.ed8408","type":"time-range-switch","z":"eee3c0c3.7c7bd","name":"After 6AM","lat":"","lon":"","startTime":"06:00","endTime":"23:00","startOffset":"","endOffset":"","x":420,"y":380,"wires":[["fde46ed4.d372f","2bb25d6d.4a14a2","19983947.b4b037"],[]]},{"id":"2bb25d6d.4a14a2","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"5 Minutes","x":760,"y":420,"wires":[[],["eaa62203.5eb83"]]},{"id":"2f7566a7.1942ba","type":"comment","z":"eee3c0c3.7c7bd","name":"Kitchen Can Lights","info":"","x":170,"y":340,"wires":[]},{"id":"eaa62203.5eb83","type":"traffic","z":"eee3c0c3.7c7bd","name":"Traffic Light","property_allow":"payload","filter_allow":"off","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"on","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":770,"y":480,"wires":[["a7d89183.b3723"]]},{"id":"6007cb34.ee1bb4","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Switch Flipped On","server":"144427d5.6c9f18","entityidfilter":"light.pantry_led","entityidfiltertype":"exact","haltifstate":"on","x":170,"y":660,"wires":[["5615982.498e668"]]},{"id":"7cc803f5.dd82fc","type":"comment","z":"eee3c0c3.7c7bd","name":"Pantry Shelf LED","info":"","x":160,"y":620,"wires":[]},{"id":"5615982.498e668","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"5 Minutes","x":420,"y":660,"wires":[["48b1fc0f.620214"],[]]},{"id":"48b1fc0f.620214","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.pantry_led\"}","mergecontext":"","x":630,"y":720,"wires":[[]]},{"id":"19983947.b4b037","type":"debug","z":"eee3c0c3.7c7bd","name":"Timer Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":300,"wires":[]},{"id":"8b481551.a756a8","type":"debug","z":"eee3c0c3.7c7bd","name":"Event Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":280,"wires":[]},{"id":"1e418c07.fc1e94","type":"api-call-service","z":"18b0a622.24052a","name":"Matt HA Push Notification","server":"144427d5.6c9f18","service_domain":"notify","service":"ios_matts_iphone","data":"","mergecontext":"","x":380,"y":200,"wires":[[]]},{"id":"f3b5859f.a92b98","type":"subflow:18b0a622.24052a","z":"38894af.7ca61b6","name":"Push Notification - Matt","x":810,"y":160,"wires":[]},{"id":"f404a765.0d2d18","type":"api-call-service","z":"a17c62c.d80c1a","name":"Alydia HA Push Notification","server":"144427d5.6c9f18","service_domain":"notify","service":"ios_alydias_iphone","data":"{\"title\":\"Matt says...\", \"message\":\"I love you!\"}","mergecontext":"","x":420,"y":200,"wires":[[]]},{"id":"9f986e1.3f0c69","type":"subflow:a17c62c.d80c1a","z":"38894af.7ca61b6","name":"Push Notification - Alydia","x":810,"y":200,"wires":[]},{"id":"ff4c2084.d29e4","type":"server-state-changed","z":"38894af.7ca61b6","name":"Smoke Detected (HASS)","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.smoke_detectors","entityidfiltertype":"exact","haltifstate":"1","x":170,"y":140,"wires":[["4cdd2835.d7e4e8"]]},{"id":"7fb24f45.2a33d","type":"function","z":"38894af.7ca61b6","name":"Set Message","func":"return {\n    payload: {\n        data: {\n            title: \"SMOKE DETECTED!\",\n            message: \"Touch to call the Fire Department.\",\n            data: {\n                url: 'tel://555-555-5555',\n                push: {\n                    badge: 911,\n                    sound: \"US-EN-Alexa-Smoke-Detected-Generic.wav\"\n                }\n            }\n        }\n    }\n};","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["f3b5859f.a92b98"]]},{"id":"4938af0a.ee187","type":"rpi-gpio in","z":"38894af.7ca61b6","name":"Smoke Detector GPIO","pin":"26","intype":"down","debounce":"25","read":false,"x":180,"y":220,"wires":[["4cdd2835.d7e4e8"]]},{"id":"4cdd2835.d7e4e8","type":"throttle","z":"38894af.7ca61b6","name":"Rate Limit","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":"1","blockSize":0,"locked":false,"x":420,"y":180,"wires":[["7fb24f45.2a33d"]]},{"id":"a76898ba.169aa8","type":"inject","z":"38894af.7ca61b6","name":"Test Notification","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":80,"wires":[["4cdd2835.d7e4e8"]]},{"id":"98a6d10d.efdce","type":"debug","z":"2061740e.e5207c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":120,"wires":[]},{"id":"c57bb4cc.b1ca48","type":"Unifi","z":"2061740e.e5207c","name":"Get Unifi Clients","ip":"192.168.1.9","port":8443,"site":"default","command":"20","x":460,"y":140,"wires":[["1e672ede.4341d1"]]},{"id":"3847361e.c66bca","type":"inject","z":"2061740e.e5207c","name":"Guest Check Every 15 Minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["c57bb4cc.b1ca48","f4cbe686.23dfe8"]]},{"id":"778ae595.2808dc","type":"match","z":"2061740e.e5207c","name":"isGuest","rules":[{"property":"payload.is_guest","propertyType":"msg","type":"true"}],"x":860,"y":140,"wires":[["740ab475.ef361c"],[]]},{"id":"1e672ede.4341d1","type":"split","z":"2061740e.e5207c","name":"Split Top Level","splt":"1","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":660,"y":120,"wires":[["e042991.49a1068"]]},{"id":"e042991.49a1068","type":"split","z":"2061740e.e5207c","name":"Split Second Level","splt":"1","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":160,"wires":[["778ae595.2808dc"]]},{"id":"a9b90ca4.b2cd6","type":"subflow:18b0a622.24052a","z":"2061740e.e5207c","x":1290,"y":140,"wires":[]},{"id":"740ab475.ef361c","type":"template","z":"2061740e.e5207c","name":"Set Message","field":"payload.data.message","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.name}} joined {{payload.essid}}.","output":"str","x":1050,"y":120,"wires":[["1914e24c.fde06e"]]},{"id":"1914e24c.fde06e","type":"function","z":"2061740e.e5207c","name":"Set Push Title","func":"msg.payload.data.title = 'Guest Mode Enabled'\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":160,"wires":[["98a6d10d.efdce","a9b90ca4.b2cd6"]]},{"id":"f4cbe686.23dfe8","type":"Unifi","z":"2061740e.e5207c","name":"Get Unifi Clients","ip":"192.168.1.9","port":8443,"site":"default","command":"50","x":440,"y":340,"wires":[["45eb3bcd.08f564"]]},{"id":"45eb3bcd.08f564","type":"debug","z":"2061740e.e5207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":340,"wires":[]},{"id":"8cccfa11.2a8788","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Pantry Door Opened","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.pantry_door","entityidfiltertype":"exact","haltifstate":"on","x":170,"y":780,"wires":[["461ee655.9b46c8"]]},{"id":"da6bf586.7c3cf8","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"On","server":"144427d5.6c9f18","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.pantry_led\", \"white_value\": 255, \"rgb_color\": [255,255,255], \"transition\": 10}","mergecontext":"","x":630,"y":780,"wires":[[]]},{"id":"a906d294.95b98","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Pantry Door Closed","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.pantry_door","entityidfiltertype":"exact","haltifstate":"off","x":170,"y":720,"wires":[["48b1fc0f.620214"]]},{"id":"461ee655.9b46c8","type":"delay","z":"eee3c0c3.7c7bd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":780,"wires":[["da6bf586.7c3cf8"]]}]