flows_MasterController.json
[{"id":"eee3c0c3.7c7bd","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"38894af.7ca61b6","type":"tab","label":"Safety/Security","disabled":false,"info":""},{"id":"cb6f2b8f.2124b8","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"90be6c3f.6407","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"2061740e.e5207c","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"30c7e5fd.18228a","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"18b0a622.24052a","type":"subflow","name":"Push Notification - Matt","info":"Example payload:\n\n{\n    \"data\": {\n        \"title\": \"Title\",\n        \"message\": \"Message\"\n    }\n}","in":[{"x":60,"y":200,"wires":[{"id":"1e418c07.fc1e94"}]}],"out":[]},{"id":"a17c62c.d80c1a","type":"subflow","name":"Push Notification Alydia","info":"","in":[{"x":140,"y":200,"wires":[{"id":"f404a765.0d2d18"}]}],"out":[]},{"id":"144427d5.6c9f18","type":"server","z":"","name":"Home Assistant (Primary)","url":"http://10.7.7.180:8123","pass":"autom@t10n"},{"id":"d63c16d9.2702d8","type":"server","z":"","name":"Home Assistant (Downstairs)","url":"http://10.7.7.181:8123","pass":"autom@t10n"},{"id":"1f84a57d.10775b","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"210f3ca0.f0ec14","type":"schedex","z":"eee3c0c3.7c7bd","name":"Porch Light Trigger","suspended":false,"lat":"35.67","lon":"-88.82","ontime":"dusk","ontopic":"","onpayload":"turn_on","onoffset":"-20","onrandomoffset":false,"offtime":"18:30","offtopic":"","offpayload":"turn_off","offoffset":"-15","offrandomoffset":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":410,"y":120,"wires":[["8d49cec5.ef4d9"]]},{"id":"b2259c64.157f7","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Porch Lights","server":"144427d5.6c9f18","service_domain":"switch","service":"","data":"{\"entity_id\": \"switch.front_porch_light, switch.side_entry_porch_light, switch.garage_outside_light\"}","mergecontext":"","x":830,"y":120,"wires":[[]]},{"id":"9a045e11.88105","type":"inject","z":"eee3c0c3.7c7bd","name":"All Porch Lights Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["210f3ca0.f0ec14"]]},{"id":"d03c0d74.35482","type":"inject","z":"eee3c0c3.7c7bd","name":"All Porch Lights On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["210f3ca0.f0ec14"]]},{"id":"c7977616.dfcab8","type":"comment","z":"eee3c0c3.7c7bd","name":"Porch Lights @ Dusk","info":"","x":170,"y":60,"wires":[]},{"id":"8d49cec5.ef4d9","type":"function","z":"eee3c0c3.7c7bd","name":"Select Service","func":"// Trigger doesn't support objects on \n// payload so we move the value provided \n// on msg.payload into msg.service property\n// to be used by the porch light service\n\nmsg.payload = {\n    service: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["b2259c64.157f7"]]},{"id":"79f23994.f55e88","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Motion","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","haltifstate":"","x":160,"y":300,"wires":[["eaa62203.5eb83","5ca008f9.ed8408"]]},{"id":"fde46ed4.d372f","type":"api-current-state","z":"eee3c0c3.7c7bd","name":"Light Off?","server":"144427d5.6c9f18","halt_if":"on","entity_id":"light.kitchen_can_lights","x":740,"y":260,"wires":[["72f53a69.cee574"]]},{"id":"4e25ca96.6ca544","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"On","server":"144427d5.6c9f18","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_can_lights\"}","mergecontext":"","x":950,"y":320,"wires":[[]]},{"id":"a7d89183.b3723","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_can_lights\"}","mergecontext":"","x":950,"y":380,"wires":[[]]},{"id":"8417a2fb.440b1","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Switch Flipped On","server":"144427d5.6c9f18","entityidfilter":"light.kitchen_can_lights","entityidfiltertype":"exact","haltifstate":"off","x":190,"y":360,"wires":[["2bb25d6d.4a14a2"]]},{"id":"5ca008f9.ed8408","type":"time-range-switch","z":"eee3c0c3.7c7bd","name":"After 6AM","lat":"","lon":"","startTime":"06:00","endTime":"23:00","startOffset":"","endOffset":"","x":400,"y":280,"wires":[["fde46ed4.d372f","2bb25d6d.4a14a2"],[]]},{"id":"2bb25d6d.4a14a2","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"5 Minutes","x":740,"y":320,"wires":[[],["eaa62203.5eb83"]]},{"id":"2f7566a7.1942ba","type":"comment","z":"eee3c0c3.7c7bd","name":"Kitchen Can Lights","info":"","x":170,"y":240,"wires":[]},{"id":"eaa62203.5eb83","type":"traffic","z":"eee3c0c3.7c7bd","name":"Traffic Light","property_allow":"payload","filter_allow":"off","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"on","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":750,"y":380,"wires":[["a7d89183.b3723"]]},{"id":"6007cb34.ee1bb4","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Switch Flipped On","server":"144427d5.6c9f18","entityidfilter":"light.pantry_led","entityidfiltertype":"exact","haltifstate":"on","x":170,"y":540,"wires":[["5615982.498e668"]]},{"id":"7cc803f5.dd82fc","type":"comment","z":"eee3c0c3.7c7bd","name":"Pantry Shelf LED","info":"","x":160,"y":480,"wires":[]},{"id":"5615982.498e668","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"5 Minutes","x":420,"y":540,"wires":[[],["48b1fc0f.620214"]]},{"id":"48b1fc0f.620214","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.pantry_led\"}","mergecontext":"","x":630,"y":600,"wires":[[]]},{"id":"1e418c07.fc1e94","type":"api-call-service","z":"18b0a622.24052a","name":"Matt HA Push Notification","server":"144427d5.6c9f18","service_domain":"notify","service":"ios_matts_iphone","data":"","mergecontext":"","x":380,"y":200,"wires":[[]]},{"id":"f3b5859f.a92b98","type":"subflow:18b0a622.24052a","z":"38894af.7ca61b6","name":"Push Notification - Matt","x":950,"y":280,"wires":[]},{"id":"f404a765.0d2d18","type":"api-call-service","z":"a17c62c.d80c1a","name":"Alydia HA Push Notification","server":"144427d5.6c9f18","service_domain":"notify","service":"ios_alydias_iphone","data":"{\"title\":\"Matt says...\", \"message\":\"I love you!\"}","mergecontext":"","x":420,"y":200,"wires":[[]]},{"id":"9f986e1.3f0c69","type":"subflow:a17c62c.d80c1a","z":"38894af.7ca61b6","name":"Push Notification - Alydia","x":950,"y":320,"wires":[]},{"id":"ff4c2084.d29e4","type":"server-state-changed","z":"38894af.7ca61b6","name":"Smoke Detected (HASS)","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.smoke_detectors","entityidfiltertype":"exact","haltifstate":"1","x":170,"y":120,"wires":[["4cdd2835.d7e4e8"]]},{"id":"7fb24f45.2a33d","type":"function","z":"38894af.7ca61b6","name":"Set Message","func":"return {\n    payload: {\n        data: {\n            title: \"SMOKE DETECTED!\",\n            message: \"Touch to call the Fire Department.\",\n            data: {\n                url: 'tel://555-555-5555',\n                push: {\n                    badge: 911,\n                    sound: \"US-EN-Alexa-Smoke-Detected-Generic.wav\"\n                }\n            }\n        }\n    }\n};","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["f3b5859f.a92b98"]]},{"id":"4938af0a.ee187","type":"rpi-gpio in","z":"38894af.7ca61b6","name":"Smoke Detector GPIO","pin":"26","intype":"down","debounce":"25","read":false,"x":160,"y":180,"wires":[["4cdd2835.d7e4e8"]]},{"id":"4cdd2835.d7e4e8","type":"throttle","z":"38894af.7ca61b6","name":"Rate Limit","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":"1","blockSize":0,"locked":false,"x":440,"y":180,"wires":[["7fb24f45.2a33d"]]},{"id":"a76898ba.169aa8","type":"inject","z":"38894af.7ca61b6","name":"Test Notification","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["4cdd2835.d7e4e8"]]},{"id":"8cccfa11.2a8788","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Pantry Door Opened","server":"d63c16d9.2702d8","entityidfilter":"binary_sensor.pantry_door","entityidfiltertype":"exact","haltifstate":"on","x":170,"y":660,"wires":[["461ee655.9b46c8"]]},{"id":"da6bf586.7c3cf8","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"On","server":"144427d5.6c9f18","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.pantry_led\", \"white_value\": 255, \"rgb_color\": [255,255,255], \"transition\": 10}","mergecontext":"","x":630,"y":660,"wires":[[]]},{"id":"a906d294.95b98","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Pantry Door Closed","server":"d63c16d9.2702d8","entityidfilter":"binary_sensor.pantry_door","entityidfiltertype":"exact","haltifstate":"off","x":170,"y":600,"wires":[["48b1fc0f.620214"]]},{"id":"461ee655.9b46c8","type":"delay","z":"eee3c0c3.7c7bd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":660,"wires":[["da6bf586.7c3cf8"]]},{"id":"578277e2.7ff628","type":"comment","z":"eee3c0c3.7c7bd","name":"Office LED","info":"","x":140,"y":940,"wires":[]},{"id":"74478849.dae958","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Motion","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.pantry_motion","entityidfiltertype":"exact","haltifstate":"","x":160,"y":1020,"wires":[["47161a35.c47574","896b0e0a.46232","f8cb1e99.7840b"]]},{"id":"896b0e0a.46232","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"5 Minutes","x":420,"y":920,"wires":[[],["f8cb1e99.7840b"]]},{"id":"47161a35.c47574","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"On","server":"144427d5.6c9f18","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_led\", \"white_value\": 255, \"rgb_color\": [0,0,255], \"transition\": 10}","mergecontext":"","x":650,"y":1020,"wires":[[]]},{"id":"ef5dfb7d.116be8","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.office_led\"}","mergecontext":"","x":650,"y":980,"wires":[[]]},{"id":"f8cb1e99.7840b","type":"traffic","z":"eee3c0c3.7c7bd","name":"Traffic Light","property_allow":"payload","filter_allow":"off","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"on","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":430,"y":980,"wires":[["ef5dfb7d.116be8"]]},{"id":"d5e90594.b099b8","type":"Unifi","z":"cb6f2b8f.2124b8","name":"Get Unifi Site Stats","ip":"192.168.1.9","port":8443,"site":"default","command":"1","x":450,"y":100,"wires":[["28d7951a.afb56a"]]},{"id":"decad0fb.3b576","type":"inject","z":"cb6f2b8f.2124b8","name":"Guest Check Every 15 Minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["d5e90594.b099b8"]]},{"id":"e62ce7c1.471048","type":"comment","z":"cb6f2b8f.2124b8","name":"Guest Presence Detection","info":"","x":150,"y":80,"wires":[]},{"id":"a96c033f.d25b3","type":"api-call-service","z":"cb6f2b8f.2124b8","name":"Enable Guest Mode","server":"144427d5.6c9f18","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\": \"input_boolean.guest_mode\"}","mergecontext":"","x":900,"y":100,"wires":[[]]},{"id":"21e8b9b3.0eada6","type":"api-call-service","z":"cb6f2b8f.2124b8","name":"Disable Guest Mode","server":"144427d5.6c9f18","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\": \"input_boolean.guest_mode\"}","mergecontext":"","x":900,"y":140,"wires":[[]]},{"id":"28d7951a.afb56a","type":"switch","z":"cb6f2b8f.2124b8","name":"hasGuest","property":"payload[0].health[0].num_guest","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":140,"wires":[["ba288d89.a4042"],["18530321.40368d"]]},{"id":"b24a295d.c02f98","type":"comment","z":"38894af.7ca61b6","name":"Smoke Detection","info":"","x":140,"y":80,"wires":[]},{"id":"a8664bea.540808","type":"comment","z":"cb6f2b8f.2124b8","name":"Set Away Mode","info":"","x":120,"y":320,"wires":[]},{"id":"bca95b60.f579d8","type":"server-state-changed","z":"cb6f2b8f.2124b8","name":"All Devices","server":"144427d5.6c9f18","entityidfilter":"group.all_devices","entityidfiltertype":"exact","haltifstate":"","x":100,"y":360,"wires":[["fe0b26e5.e10088"]]},{"id":"d0d1c9a1.de7e88","type":"api-call-service","z":"cb6f2b8f.2124b8","name":"Enable Away Mode","server":"144427d5.6c9f18","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.away_mode\"}","mergecontext":"","x":590,"y":340,"wires":[["3878fffd.a7903"]]},{"id":"aa654529.c68ec8","type":"subflow:18b0a622.24052a","z":"90be6c3f.6407","name":"","x":830,"y":160,"wires":[]},{"id":"ef5df437.48f5b8","type":"server-state-changed","z":"90be6c3f.6407","name":"Away Mode Enabled","server":"144427d5.6c9f18","entityidfilter":"input_boolean.away_mode","entityidfiltertype":"exact","haltifstate":"off","x":190,"y":160,"wires":[["bc0d88e0.ae1a08"]]},{"id":"ae1f1ce8.a915b","type":"comment","z":"90be6c3f.6407","name":"Notify on Away Mode Enable","info":"","x":220,"y":120,"wires":[]},{"id":"a32c22d2.5baba","type":"function","z":"90be6c3f.6407","name":"Set Message","func":"return {\n    payload: {\n        data: {\n            title: \"Away Mode Active\",\n            message: \"You will be notified of any unusual activity.\"\n        }\n    }\n};","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["aa654529.c68ec8"]]},{"id":"fc55ee9d.70aa1","type":"inject","z":"90be6c3f.6407","name":"Test Notification","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":220,"wires":[["a32c22d2.5baba"]]},{"id":"c3993b0a.7bb2a8","type":"api-call-service","z":"cb6f2b8f.2124b8","name":"Disable Away Mode","server":"144427d5.6c9f18","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.away_mode\"}","mergecontext":"","x":580,"y":380,"wires":[["1f97a1fa.e6e93e"]]},{"id":"fe0b26e5.e10088","type":"switch","z":"cb6f2b8f.2124b8","name":"home/not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":360,"wires":[["d0d1c9a1.de7e88"],["c3993b0a.7bb2a8"]]},{"id":"ce766641.c85848","type":"server-state-changed","z":"38894af.7ca61b6","name":"Door State","server":"d63c16d9.2702d8","entityidfilter":"entry_door","entityidfiltertype":"substring","haltifstate":"","x":120,"y":400,"wires":[["235f5706.9f8788"]]},{"id":"d0151dc8.e8bb","type":"function","z":"38894af.7ca61b6","name":"Build Notification","func":"return {\n    payload: {\n        data: {\n            title: \"DOOR STATE CHANGED WHILE AWAY!\",\n            message: msg.message,\n        }\n    }\n};","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["f3b5859f.a92b98"]]},{"id":"85fabdf2.82f3","type":"template","z":"38894af.7ca61b6","name":"Set Message","field":"message","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} is now {{payload}}","output":"str","x":470,"y":400,"wires":[["d0151dc8.e8bb"]]},{"id":"6887db2b.5d43f4","type":"comment","z":"38894af.7ca61b6","name":"Door State Change While Away","info":"","x":190,"y":360,"wires":[]},{"id":"72f53a69.cee574","type":"api-current-state","z":"eee3c0c3.7c7bd","name":"Halt If Away","server":"144427d5.6c9f18","halt_if":"on","override_topic":false,"override_payload":false,"entity_id":"input_boolean.away_mode","x":930,"y":260,"wires":[["4e25ca96.6ca544"]]},{"id":"235f5706.9f8788","type":"switch","z":"38894af.7ca61b6","name":"Halt If Home","property":"away_mode","propertyType":"global","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":290,"y":400,"wires":[["85fabdf2.82f3"]]},{"id":"1f97a1fa.e6e93e","type":"function","z":"cb6f2b8f.2124b8","name":"Set Global","func":"global.set('away_mode', false);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":380,"wires":[[]]},{"id":"3878fffd.a7903","type":"function","z":"cb6f2b8f.2124b8","name":"Set Global","func":"global.set('away_mode', true);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":340,"wires":[[]]},{"id":"ba288d89.a4042","type":"function","z":"cb6f2b8f.2124b8","name":"Set Global","func":"global.set('guest_mode', true);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["a96c033f.d25b3"]]},{"id":"18530321.40368d","type":"function","z":"cb6f2b8f.2124b8","name":"Set Global","func":"global.set('guest_mode', false);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["21e8b9b3.0eada6"]]},{"id":"8bbef984.6ef738","type":"server-events","z":"2061740e.e5207c","name":"All Events","server":"144427d5.6c9f18","x":100,"y":180,"wires":[["362d50fe.dbbed","99872851.c71cc8"]]},{"id":"362d50fe.dbbed","type":"switch","z":"2061740e.e5207c","name":"Doorbird Motion Events","property":"event_type","propertyType":"msg","rules":[{"t":"regex","v":"doorbird_.*_motion","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":160,"wires":[["be835949.460b78"]]},{"id":"99872851.c71cc8","type":"switch","z":"2061740e.e5207c","name":"Doorbird Doorbell Events","property":"event_type","propertyType":"msg","rules":[{"t":"regex","v":"doorbird_.*_doorbell","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":200,"wires":[["be835949.460b78"]]},{"id":"ed45b12d.e4937","type":"comment","z":"2061740e.e5207c","name":"Doorbird Automations","info":"","x":140,"y":100,"wires":[]},{"id":"be835949.460b78","type":"time-range-switch","z":"2061740e.e5207c","name":"isNight","lat":"35.67","lon":"-88.82","startTime":"dusk","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":590,"y":180,"wires":[["209ca413.76181c"],[]]},{"id":"37b11c64.75dec4","type":"api-call-service","z":"2061740e.e5207c","name":"Turn On Lights","server":"144427d5.6c9f18","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.back_porch_light\"}","mergecontext":"","x":820,"y":180,"wires":[[]]},{"id":"209ca413.76181c","type":"function","z":"2061740e.e5207c","name":"Light Mapper","func":"var map = {\n    doorbird_back_door_motion: \"switch.back_porch_light\",\n    doorbird_back_door_doorbell: \"switch.back_porch_light\",\n    // doorbird_front_door_motion: \"switch.front_porch_light\",\n    doorbird_front_door_doorbell: \"switch.front_porch_light\",\n    // doorbird_side_entry_motion: \"switch.side_entry_porch_light\",\n    doorbird_side_entry_doorbell: \"switch.side_entry_porch_light\",\n}\n\nmsg.data = {\n    entity_id: map[msg.event_type]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[[]]},{"id":"a74366eb.d64108","type":"api-current-state","z":"cb6f2b8f.2124b8","name":"Get Away Mode","server":"144427d5.6c9f18","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"input_boolean.away_mode","x":440,"y":260,"wires":[["3878fffd.a7903"]]},{"id":"b81d0c02.18ac4","type":"inject","z":"cb6f2b8f.2124b8","name":"Startup Trigger","topic":"on","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":120,"y":260,"wires":[["a74366eb.d64108"]]},{"id":"2c3cd45e.e56eec","type":"comment","z":"cb6f2b8f.2124b8","name":"Set Away Mode on Start","info":"","x":150,"y":220,"wires":[]},{"id":"bc0d88e0.ae1a08","type":"function","z":"90be6c3f.6407","name":"Set Global","func":"if(msg.payload === 'off') {\n    global.set('away_mode', false);\n}\n\nif(msg.payload === 'on') {\n    global.set('away_mode', true)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["a32c22d2.5baba"]]},{"id":"1e484dd6.47e5e2","type":"comment","z":"cb6f2b8f.2124b8","name":"Set Sleep Mode on Start","info":"","x":150,"y":580,"wires":[]},{"id":"36691f72.d39a6","type":"inject","z":"cb6f2b8f.2124b8","name":"Startup Trigger","topic":"on","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":120,"y":620,"wires":[["6170f9fa.a46ca8"]]},{"id":"6170f9fa.a46ca8","type":"api-current-state","z":"cb6f2b8f.2124b8","name":"Get Bed Status","server":"144427d5.6c9f18","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.bed_both","x":460,"y":520,"wires":[["de244c23.ff033"]]},{"id":"e357f040.cbf8b","type":"function","z":"cb6f2b8f.2124b8","name":"Set Global","func":"global.set('sleep_mode', true);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":680,"wires":[[]]},{"id":"5999ad4.be98354","type":"server-state-changed","z":"cb6f2b8f.2124b8","name":"All Devices","server":"144427d5.6c9f18","entityidfilter":"sensor.bed_both","entityidfiltertype":"exact","haltifstate":"","x":100,"y":720,"wires":[["de244c23.ff033"]]},{"id":"de244c23.ff033","type":"switch","z":"cb6f2b8f.2124b8","name":"isOccupied?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Occupied","vt":"str"},{"t":"eq","v":"Unoccupied","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":720,"wires":[["f2a167c9.c302d8"],["f9aadbef.28b4b8"]]},{"id":"49b9a993.3c8bc8","type":"api-call-service","z":"cb6f2b8f.2124b8","name":"Enable Sleep Mode","server":"144427d5.6c9f18","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.sleep_mode\"}","mergecontext":"","x":830,"y":680,"wires":[["e357f040.cbf8b"]]},{"id":"f9aadbef.28b4b8","type":"api-call-service","z":"cb6f2b8f.2124b8","name":"Disable Sleep Mode","server":"144427d5.6c9f18","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.sleep_mode\"}","mergecontext":"","x":840,"y":760,"wires":[["1f3c6634.f6ef4a"]]},{"id":"1f3c6634.f6ef4a","type":"function","z":"cb6f2b8f.2124b8","name":"Set Global","func":"global.set('sleep_mode', false);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":760,"wires":[[]]},{"id":"f2a167c9.c302d8","type":"time-range-switch","z":"cb6f2b8f.2124b8","name":"isBedtime?","lat":"","lon":"","startTime":"22:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":610,"y":680,"wires":[["49b9a993.3c8bc8"],[]]},{"id":"9cbc497d.174bc8","type":"schedex","z":"cb6f2b8f.2124b8","name":"Bedtime Trigger","suspended":false,"lat":"","lon":"","ontime":"22:00","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"goldenHour","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":120,"y":520,"wires":[["6170f9fa.a46ca8"]]},{"id":"cb69900c.75a75","type":"comment","z":"cb6f2b8f.2124b8","name":"Set Sleep Mode at Bedtime","info":"","x":160,"y":480,"wires":[]},{"id":"ef6b11b5.09a0c","type":"comment","z":"cb6f2b8f.2124b8","name":"Set Sleep Mode on Occupancy","info":"","x":170,"y":680,"wires":[]},{"id":"1ffc80e8.bd10cf","type":"comment","z":"eee3c0c3.7c7bd","name":"All Lights Off on Sleep Mode","info":"","x":200,"y":760,"wires":[]},{"id":"bfd530b2.f283a","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Sleep Mode Enabled","server":"144427d5.6c9f18","entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"substring","haltifstate":"off","x":170,"y":800,"wires":[["604733f.ffb9ecc"]]},{"id":"604733f.ffb9ecc","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"All Lights Off","server":"144427d5.6c9f18","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\": \"group.lights\"}","mergecontext":"","x":430,"y":800,"wires":[[]]},{"id":"a5c6da26.a437e8","type":"server-state-changed","z":"38894af.7ca61b6","name":"Sleep Mode Enabled","server":"144427d5.6c9f18","entityidfilter":"input_boolean.sleep_mode","entityidfiltertype":"substring","haltifstate":"off","x":150,"y":580,"wires":[["f7413f37.ef43b"]]},{"id":"f7413f37.ef43b","type":"api-call-service","z":"38894af.7ca61b6","name":"Lock All Doors","server":"144427d5.6c9f18","service_domain":"lock","service":"lock","data":"{\"entity_id\": \"lock.front_door, lock.back_door, lock.garage_entry, lock.side_entry\"}","mergecontext":"","x":480,"y":580,"wires":[[]]},{"id":"46fe19a8.293148","type":"comment","z":"38894af.7ca61b6","name":"Lock All Doors on Sleep Mode Enable","info":"","x":210,"y":540,"wires":[]},{"id":"e9cddfe6.fa704","type":"comment","z":"38894af.7ca61b6","name":"Lock All Doors on Away Mode Enable","info":"","x":210,"y":640,"wires":[]},{"id":"35ddcdcd.f3e962","type":"server-state-changed","z":"38894af.7ca61b6","name":"Away Mode Enabled","server":"144427d5.6c9f18","entityidfilter":"input_boolean.away_mode","entityidfiltertype":"substring","haltifstate":"off","x":150,"y":680,"wires":[["f7413f37.ef43b"]]},{"id":"25198b8e.3386f4","type":"mqtt in","z":"2061740e.e5207c","name":"Plex Media ","topic":"media/plex","qos":"2","broker":"1f84a57d.10775b","x":120,"y":460,"wires":[["5652f827.9be7e8"]]},{"id":"b1ee8b98.32c488","type":"comment","z":"2061740e.e5207c","name":"Media Player Based Lighting","info":"","x":180,"y":420,"wires":[]},{"id":"b7ca0069.6e0ee","type":"debug","z":"2061740e.e5207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":440,"wires":[]},{"id":"5e411cb6.22bf24","type":"switch","z":"2061740e.e5207c","name":"Route By Playback Location","property":"payload.subject","propertyType":"msg","rules":[{"t":"eq","v":"10.7.7.210","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":500,"wires":[[],[]]},{"id":"5652f827.9be7e8","type":"json","z":"2061740e.e5207c","name":"Convert Payload","property":"payload","action":"","pretty":false,"x":310,"y":460,"wires":[["5e411cb6.22bf24","b7ca0069.6e0ee"]]},{"id":"e1d01ddb.f2e95","type":"comment","z":"2061740e.e5207c","name":"Playroom Chromecast","info":"","x":680,"y":480,"wires":[]},{"id":"36ec47a.7ed4bb8","type":"server-state-changed","z":"30c7e5fd.18228a","name":"Away Mode Enabled","server":"144427d5.6c9f18","entityidfilter":"input_boolean.away_mode","entityidfiltertype":"substring","haltifstate":"off","x":170,"y":140,"wires":[["25b30fb4.e5f2b"]]},{"id":"25b30fb4.e5f2b","type":"stoptimer","z":"30c7e5fd.18228a","duration":"60","units":"Minute","payloadtype":"num","payloadval":"0","name":"Delay 1h","x":400,"y":140,"wires":[["d15821ae.44ebd"],[]]},{"id":"879bca82.99f6f8","type":"server-state-changed","z":"30c7e5fd.18228a","name":"Away Mode Disabled","server":"144427d5.6c9f18","entityidfilter":"input_boolean.away_mode","entityidfiltertype":"substring","haltifstate":"on","x":180,"y":200,"wires":[["3194a548.bd2f1a"]]},{"id":"3194a548.bd2f1a","type":"change","z":"30c7e5fd.18228a","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":200,"wires":[["25b30fb4.e5f2b"]]},{"id":"d15821ae.44ebd","type":"api-call-service","z":"30c7e5fd.18228a","name":"Enable Away Mode","server":"144427d5.6c9f18","service_domain":"climate","service":"set_away_mode","data":"{\"entity_id\": \"climate.laundry, climate.master, climate.upstairs\", \"away_mode\": true}","mergecontext":"","x":610,"y":160,"wires":[["ea54b02e.6a60a"]]},{"id":"29503a71.797866","type":"subflow:18b0a622.24052a","z":"30c7e5fd.18228a","x":1030,"y":160,"wires":[]},{"id":"ea54b02e.6a60a","type":"function","z":"30c7e5fd.18228a","name":"Set Message","func":"return {\n    payload: {\n        data: {\n            title: \"Ecobee Away Mode Enabled\",\n            message: \"Save that $$$!\"\n        }\n    }\n};","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["29503a71.797866"]]},{"id":"3b2f81e8.6beb3e","type":"comment","z":"30c7e5fd.18228a","name":"Enable Ecobee Away Mode","info":"","x":200,"y":100,"wires":[]}]