flows_MasterController.json
[{"id":"eee3c0c3.7c7bd","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"38894af.7ca61b6","type":"tab","label":"Security","disabled":false,"info":""},{"id":"144427d5.6c9f18","type":"server","z":"","name":"Home Assistant","url":"http://192.168.1.180:8123","pass":"autom@t10n"},{"id":"210f3ca0.f0ec14","type":"schedex","z":"eee3c0c3.7c7bd","name":"Porch Light Trigger","suspended":false,"lat":"35.67","lon":"-88.82","ontime":"dusk","ontopic":"","onpayload":"turn_on","onoffset":"-20","onrandomoffset":false,"offtime":"22:00","offtopic":"","offpayload":"turn_off","offoffset":"-30","offrandomoffset":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":410,"y":120,"wires":[["8d49cec5.ef4d9"]]},{"id":"b2259c64.157f7","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Porch Lights","server":"144427d5.6c9f18","service_domain":"switch","service":"","data":"{\"entity_id\": \"switch.front_porch_light, switch.side_entry_porch_light, switch.garage_outside_light\"}","mergecontext":"","x":830,"y":120,"wires":[[]]},{"id":"9a045e11.88105","type":"inject","z":"eee3c0c3.7c7bd","name":"All Porch Lights Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["210f3ca0.f0ec14"]]},{"id":"d03c0d74.35482","type":"inject","z":"eee3c0c3.7c7bd","name":"All Porch Lights On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["210f3ca0.f0ec14"]]},{"id":"c7977616.dfcab8","type":"comment","z":"eee3c0c3.7c7bd","name":"Porch Lights @ Dusk","info":"","x":170,"y":60,"wires":[]},{"id":"a9d5df67.e460a","type":"debug","z":"38894af.7ca61b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":220,"wires":[]},{"id":"a993a164.9d26c","type":"server-events","z":"38894af.7ca61b6","name":"All Events","server":"144427d5.6c9f18","x":80,"y":220,"wires":[["a9d5df67.e460a"]]},{"id":"8d49cec5.ef4d9","type":"function","z":"eee3c0c3.7c7bd","name":"Select Service","func":"// Trigger doesn't support objects on \n// payload so we move the value provided \n// on msg.payload into msg.service property\n// to be used by the porch light service\n\nmsg.payload = {\n    service: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["b2259c64.157f7"]]},{"id":"79f23994.f55e88","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Motion","server":"144427d5.6c9f18","entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","haltifstate":"","x":160,"y":400,"wires":[["eaa62203.5eb83","5ca008f9.ed8408"]]},{"id":"fde46ed4.d372f","type":"api-current-state","z":"eee3c0c3.7c7bd","name":"Light Off?","server":"144427d5.6c9f18","halt_if":"on","entity_id":"light.kitchen_can_lights","x":760,"y":360,"wires":[["4e25ca96.6ca544"]]},{"id":"4e25ca96.6ca544","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"On","server":"144427d5.6c9f18","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_can_lights\"}","mergecontext":"","x":990,"y":400,"wires":[[]]},{"id":"a7d89183.b3723","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_can_lights\"}","mergecontext":"","x":990,"y":460,"wires":[[]]},{"id":"8417a2fb.440b1","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Switch Flipped On","server":"144427d5.6c9f18","entityidfilter":"light.kitchen_can_lights","entityidfiltertype":"exact","haltifstate":"off","x":190,"y":460,"wires":[["2bb25d6d.4a14a2"]]},{"id":"5ca008f9.ed8408","type":"time-range-switch","z":"eee3c0c3.7c7bd","name":"After 6AM","lat":"","lon":"","startTime":"06:00","endTime":"23:00","startOffset":"","endOffset":"","x":420,"y":380,"wires":[["fde46ed4.d372f","2bb25d6d.4a14a2"],[]]},{"id":"2bb25d6d.4a14a2","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"5","units":"Minute","payloadtype":"bool","payloadval":"true","name":"5 Minutes","x":760,"y":420,"wires":[[],["eaa62203.5eb83"]]},{"id":"2f7566a7.1942ba","type":"comment","z":"eee3c0c3.7c7bd","name":"Kitchen Can Lights","info":"","x":170,"y":320,"wires":[]},{"id":"eaa62203.5eb83","type":"traffic","z":"eee3c0c3.7c7bd","name":"Traffic Light","property_allow":"payload","filter_allow":"off","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"on","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":true,"x":770,"y":480,"wires":[["a7d89183.b3723"]]},{"id":"6007cb34.ee1bb4","type":"server-state-changed","z":"eee3c0c3.7c7bd","name":"Kitchen Switch Flipped On","server":"144427d5.6c9f18","entityidfilter":"light.pantry_led","entityidfiltertype":"exact","haltifstate":"off","x":190,"y":660,"wires":[["5615982.498e668"]]},{"id":"7cc803f5.dd82fc","type":"comment","z":"eee3c0c3.7c7bd","name":"Pantry Shelf LED","info":"","x":160,"y":600,"wires":[]},{"id":"5615982.498e668","type":"stoptimer","z":"eee3c0c3.7c7bd","duration":"30","units":"Minute","payloadtype":"bool","payloadval":"true","name":"30 Minutes","x":470,"y":660,"wires":[[],["48b1fc0f.620214"]]},{"id":"48b1fc0f.620214","type":"api-call-service","z":"eee3c0c3.7c7bd","name":"Off","server":"144427d5.6c9f18","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.pantry_led\"}","mergecontext":"","x":690,"y":660,"wires":[[]]}]